extends ../master-view/master

block body
    h1 Register here:
    form#signup-form(action='/auth/sign-up', method="POST")
        .form-group
            label Username
            input.form-control(type="text" name="username" placeholder="Username" autofocus)
        .form-group
            label Email address
            input.form-control(type="email" name="email" placeholder="Email")
        .form-group
            label Password
            input.form-control(type="password" name="password" placeholder="Password")
        button.btn.btn-success Sign Up