extends master-view/master

block body
    .pull-left
        ul
            li
                img.img-responsive(src="public/images/Encho.png", alt="Responsive image")
            li
                p.text-left Encho Enevski
            li
                a
                    p.text-left encho.enevski@gmail.com
    .pull-left
        ul
            li
                img.img-responsive(src="public/images/Svetozar.png", alt="Responsive image")
            li
                p.text-left Svetozar Iliev
            li
                a
                    p.text-left svetozariliev13@gmail.com