extends master-view/master

block body 
    h1 Welcome to our online TV store
    form.form-inline
        .form-group.m-right
            label.sr-only(for="exampleInputEmail3") Email address
            input#exampleInputEmail3.form-control(type="email", placeholder="Email")
        .form-group.m-right
            label.sr-only(for="exampleInputPassword3") Password
            input#exampleInputPassword3.form-control(type="password", placeholder="Password")
        .checkbox
            label
                input.m-right(type="checkbox")
                |  Remember me &nbsp&nbsp
        a.btn.btn-default.m-right(href="") Sign in
        a.btn.btn-success(href="registration") Register
        p