extends master-view/master

block body
    h1 Register here:
    form
        .form-group
            label(for="exampleInputEmail1") First name
            input#exampleInputEmail1.form-control(type="name", placeholder="First name")
        .form-group
            label(for="exampleInputEmail1") Email address
            input#exampleInputEmail1.form-control(type="email", placeholder="Email")
        .form-group
            label(for="exampleInputPassword1") Password
            input#exampleInputPassword1.form-control(type="password", placeholder="Password")
        button.btn.btn-success(type="submit") Sign Up