body {
    margin: 1rem;
    background-color: #E9EBEE;
}

.m-right {
    margin-right: 1rem;
}

img {
    height: 25rem;
    width: 25rem;
}

ul {
    list-style: none;
    margin-left: 0rem;
    padding-left: 0rem;
}

.pull-left {
    margin-right: 1rem;
}

.btn-link {
    padding-left: 0;
}

.wrapper {
    width: 40rem;
    height: 40rem;
    border: 0.3rem solid #a4c4f4;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}