mixin nav
    a.btn.btn-link(href="/") Home
    a.btn.btn-link(href="registration") Register
    a.btn.btn-link(href="products") Products
    a.btn.btn-link(href=":id") Your cart
    a.btn.btn-link(href="about") About us
    p